PORT=3000
FMP_API_KEY=zTIuEPRlxpxOT3Mi6BnHU4olSaItcaCD
FMP_BASE_URL=https://financialmodelingprep.com/stable
FMP_V3_URL=https://financialmodelingprep.com/api/v3
MONGODB_URI=mongodb+srv://Tarek:AOAJCV9MGSBcd01r@cluster0.hnuqpaj.mongodb.net/trading?retryWrites=true&w=majority&appName=Cluster0
